/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/public/uploads/images/leathers/raw/*
/public/uploads/images/leathers/full/*
/public/uploads/images/leathers/feature/*
/public/uploads/images/leathers/thumbnail/*
/public/uploads/images/leathers/thumbnail_small/*

/public/uploads/images/projects/raw/*
/public/uploads/images/projects/full/*
/public/uploads/images/projects/feature/*
/public/uploads/images/projects/thumbnail/*
/public/uploads/images/projects/thumbnail_small/*

!**/.gitkeep
**/.DS_Store
