
:root {
	--white: #fbfffd;
	--lt-grey: #f0f4f2;
	--md-grey: #666f73;

	--black: #14191b;
	--lt-green: #e2fdac;
	--lt-blue: #8fd5d3;
	--md-blue: #68acaa;
	--dk-blue: #488c8a;
	--brand-blue: #2d4244;

	--trans-short: 0.2s;
}

a {
    color: var(--dk-blue);
}
a:hover {
	color: var(--md-blue);
}

a.grow img {
	transition: all var(--trans-short);
}
a.grow img:hover {
	transform: scale(1.05);
}

p {
	margin-bottom: 30px;
	line-height: 1.4em;
	font-size: 1.1em;
}

html, body {
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Heebo', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background: var(--white);
	color: var(--black);
	font-size:16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

.script {
	font-family: 'Caveat', sans-serif;
}

pre {
	white-space: pre-wrap;
	word-break: normal;
	font-size: 16px;
	padding: 0;
}

a.logo {
	margin-top: 10px;
}

#body {
	padding-bottom: 80px;   /* Height of the footer + extra space above footer */
}

#footer {
	position:absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 40px;   /* Height of the footer */
	background: var(--brand-blue);
	padding-top: 10px;
}

#footer span.footer-text {
	color: var(--lt-green);
	font-size:16px;
}
.social-wrapper {
	vertical-align: middle;
}
span.social a{
	margin-right:12px;
	font-size:20px;
}


/* Needed for footer to stay in place */
#wrapper {
	min-height: 100%;
	position: relative;
}

h2 {
	font-size: 40px;
	font-family: 'Caveat', sans-serif;
	margin-bottom: 30px;
	margin-top: 30px;
}

.img-social {
	height:30px;
	width:30px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 24px;
}

.jumbotron h1 {
	font-size: 45px;
}

.jumbotron h2 {
	margin-top: 10px;
}
.jumbotron {
	background-color: var(--brand-blue);
	color: var(--lt-green);
	padding-top: 5px;
	padding-bottom: 12px;
}
.jumbotron.home {
	padding-top: 24px;
	padding-bottom: 24px;
}

.btn {
	font-size:16px;
	padding:12px 18px;
	border-radius: 0px;
	border: none;
	margin-right: 6px;

    -webkit-transition: all var(--trans-short); /* Safari */
    transition: all var(--trans-short);
}
.btn.pull-right {
	margin-right:0px;
}

.btn:hover {
	border-radius: 0px;
	border: none;
	transform: translate(1px, -1px);
}
.btn-default {
	/*color: var(--lt-green);*/
	color: var(--md-blue);
	background-color: var(--brand-blue);
}
.btn-default:hover {
	background-color: var(--brand-blue);
	color: var(--lt-blue);
}
.btn-default.active {
	background-color: var(--brand-blue);
	color: var(--lt-green);
}
.btn-default.active:hover {
	background-color: var(--brand-blue);
	color: var(--lt-blue);
}
.btn-group .btn {
	margin-right: 0px;	
	margin-right: 0px;	
}

.navbar {
	margin-bottom: 0px;
	background: var(--white);
	border: none;
	border-radius: 0px;
}

.nav li a {
	padding-right: 20px;
	padding-left: 20px;
}

.navbar-default .navbar-brand {
    color: var(--black);
    transition-timing-function: ease ;
    -webkit-transition: all var(--trans-short); /* Safari */
    transition: all var(--trans-short);
} 
.navbar-default .navbar-brand:hover {
    color: var(--lt-blue);
    background: var(--brand-blue);
} 

.navbar-default .navbar-nav>li>a.active {
	background-color: var(--brand-blue);
	color: var(--lt-green);
}

.navbar-default .navbar-nav>li>a {
    color: var(--black);
    transition-timing-function: ease;
    -webkit-transition: all var(--trans-short); /* Safari */
    transition: all var(--trans-short);
}
.navbar-default .navbar-nav>li>a:hover {
    color: var(--lt-blue);
    background: var(--brand-blue);
}

.navbar-default .navbar-nav>li>a.active:hover {
	background-color:  var(--brand-blue);
	color: var(--lt-blue);
}

.navbar-default .container-fluid {
	padding-right:0px;
}

.container-fluid .navbar-header {
	margin-right: 0px;
}

/*hamburger menu*/
button.navbar-toggle {
	background-color: var(--brand-blue);
	border-radius: 0px;
	border:none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: var(--brand-blue);
}

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: var(--lt-blue);
}

.navbar-default .navbar-toggle span.icon-bar {
    background-color:var(--md-blue);
    -webkit-transition: all var(--trans-short); /* Safari */
    transition: all var(--trans-short);
}

.navbar-default .navbar-collapse {
	border-color: var(--brand-blue);
	border-width: 3px;
}

.navbar-brand {
	padding-top:10px;
}

#jcl-link:hover .logo-svg {
	fill: var(--lt-blue);
}

.logo-svg {
	transition: fill var(--trans-short);
    -webkit-transition: fill var(--trans-short); /* Safari */
}

.extra-margin-top {
	margin-top: 30px;
}

a.social-link {
	color: var(--md-blue);
}

a.social-link:hover {
	text-decoration: none;
	color: var(--lt-blue);
}

.square-img {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: 50%;
}

/*Form inputs*/

.square {
	border-radius: 0px;
	background-color: var(--lt-grey);
}

/* utility classes */

.m-t-0 {
	margin-top: 0px;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-30{
	margin-top: 30px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-90 {
	margin-bottom: 90px;
}

.m-x-auto {
	margin-left: auto;
	margin-right: auto;
}

.max-height-200 {
	max-height: 200px;
}

.max-height-300 {
	max-height: 300px;
}

.max-height-400 {
	max-height: 400px;
}

.shadow {
	-webkit-box-shadow: 0px 6px 24px -1px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 6px 24px -1px rgba(0,0,0,0.13);
	box-shadow: 0px 6px 24px -1px rgba(0,0,0,0.13);
}
.font-md {
	font-size: 1.1em !important;
}
.text-white {
	color: var(--white);
}

.text-lt-blue {
	color: var(--lt-blue);
}
.text-md-blue {
	color: var(--md-blue);
}


/* keep footer at bottom */
#animated-bg {
	min-height: 100%;
	position: relative; z-index: 2;
 }

